/* CSS RESET */

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	background-color: black;
}

button,
select {
	appearance: none;
	border: none;
	background: none;
	color: rgb(179, 179, 179);
}

/* MAIN */

canvas {
	width: 400px;
	height: 300px;
	margin: 10px;
}

#tool-container {
	display: flex;
	gap: 10px;
	margin: 10px;
	padding: 10px;
	background-color: #202020;
}

#layers-container {
	float: left;
	margin: 10px;
	background-color: #202020;
	padding: 5px;
}

.layer {
	background-color: #2e2e2e;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: white;
}

.toolbtn {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	padding: 10px;
	border-radius: 4px;
	max-width: 100px;
	visibility: visible;
}
